 <% include top.ejs %>
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">创建任务</h1>
      <p class="description">Create task</p>
    </div>
    <div class="breadcrumb-env">
      <ol class="breadcrumb bc-1"> <li> <a href="/controller/"><i class="fa-home"></i>首页</a> </li>
        <li class="active"> <strong>创建任务</strong> </li>
      </ol>
    </div>
  </div>
  <div class="row">  
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">新建任务单</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-1">任务名称</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="field-name" placeholder="请输入任务名称">
              </div>
            </div>	
			  
            <div class="form-group">
              <label class="col-sm-2 control-label" >项目</label>
 
			<script type="text/javascript">
										jQuery(document).ready(function($)
										{
											$("#s2example-1").select2({
												placeholder: '请选择项目',
												allowClear: true
											}).on('select2-open', function()
											{
												// Adding Custom Scrollbar
												$(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
												
											})
										});
		 
									</script>	
              <div class="col-sm-10">
                <select class="form-control "  id="s2example-1">
                  <option></option>
                  <optgroup label="请选择">
					<%for(var i=0;i<project.length;i++){%>
					  <option class="select_option" ><%=project[i].p_name%>-<%=project[i].p_number%></option>
					<%  }%>
                  </optgroup>
                </select>
              </div>
            
            </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-5">任务周期</label>
              <div class="col-sm-10">
                <input type="text" id="field-time" class="form-control daterange" data-time-picker="true" data-time-picker-increment="5" data-format="YYYY/MM/DD HH:mm" placeholder="请选择任务周期" value=""/>
              </div>
            </div>
			
            <div class="form-group-separator"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-3">【验收标准】路径</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="acceptance" placeholder="请输入服务器上的文件夹路径" value="">
              </div>
            </div>
            <div class="form-group-separator"></div>
            <!--<div class="form-group">
              <label class="col-sm-2 control-label" for="field-4">标准确认</label>
              <div class="col-sm-10">
                <input type="file" class="form-control" id="measure">
              </div>
            </div>
            <div class="form-group-separator"></div>-->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="field-5">详细任务内容</label>
              <div class="col-sm-10">
                <textarea class="form-control" cols="5" id="contant_txt" placeholder="限制100字"></textarea>
              </div>
            </div>
            <div class="form-group has-error">
              <label class="col-sm-2"></label>
              <div class="form-group col-sm-10 ">
                <button type="submit" id="form_post" class="btn btn-success">创建</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
				$(function(){
					$("#form_post").click(function(){
						 
						var reg = /\\/g; 
						var oName =$("#field-name").val();//任务名称  
						var opr_name =$("#s2example-1").val();//项目名称  
						var oTime_from =parseInt(Date.parse($("#field-time").val().split("-")[0]));//开始时间
						var oTime_to =parseInt(Date.parse($("#field-time").val().split("-")[1]));//结束时间
						var oScceptance =$("#acceptance").val().replace(reg, '/');//验收路径
						var oDetailed =$("#contant_txt").val();//详细任务内容
						console.log(oName,opr_name,oTime_from,oTime_to,oScceptance,oDetailed);
						if(oName!=="" && opr_name!=="" && oTime_from!=="" && oTime_to!=="" &&  oScceptance!=="" &&  oDetailed!=="" ){
									$.ajax({
									//几个参数需要注意一下
										type: "POST",//方法类型
										dataType: "json",//预期服务器返回的数据类型
										url: "/controller/task_self/create" ,//url
										data: {
												name:oName,/*任务名称*/
												pr_name:opr_name,/*项目名称*/
												time_from: oTime_from,/*制作时间-开始*/
												time_to: oTime_to,/*制作时间-结束*/
												val_path: oScceptance,/*[验证标准]路径*/
											    detailed: oDetailed,/*详细任务内容*/
										},
										success: function (result) {
											console.log(result);//打印服务端返回的数据(调试用)
											if (result.resultCode == 200) {
												alert("任务创建成功");
												window.location.href = '/controller/task_self/task_self_list'; 
											};
										},
										error : function() {
											alert("异常！");
										}
									});
						   }else{
						     alert("请填写完整",opr_name);
						   }
						
						
						}) ;
				}) 
					 
				</script>
  <!-- Main Footer --> 
  <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" --> 
  <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) --> 
  <!-- Or class "fixed" to  always fix the footer to the end of page -->
 <% include footer.ejs %>
  </div>
</div>
<div class="modal fade custom-width" id="modal-2">
  <div class="modal-dialog" style="width: 60%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">项目时间表</h4>
      </div>
      <div class="modal-body"> 时间表图片 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<!-- Imported styles on this page -->
<link rel="stylesheet" href="/www/assets/js/daterangepicker/daterangepicker-bs3.css">
<link rel="stylesheet" href="/www/assets/js/select2/select2.css">
<link rel="stylesheet" href="/www/assets/js/select2/select2-bootstrap.css">
<link rel="stylesheet" href="/www/assets/js/multiselect/css/multi-select.css">

<!-- Bottom Scripts --> 
<script src="/www/assets/js/bootstrap.min.js"></script> 
<script src="/www/assets/js/TweenMax.min.js"></script> 
<script src="/www/assets/js/resizeable.js"></script> 
<script src="/www/assets/js/joinable.js"></script> 
<script src="/www/assets/js/xenon-api.js"></script> 
<script src="/www/assets/js/xenon-toggles.js"></script> 
<script src="/www/assets/js/moment.min.js"></script> 

<!-- Imported scripts on this page --> 
<script src="/www/assets/js/daterangepicker/daterangepicker.js"></script> 
<script src="/www/assets/js/datepicker/bootstrap-datepicker.js"></script> 
<script src="/www/assets/js/timepicker/bootstrap-timepicker.min.js"></script> 
<script src="/www/assets/js/colorpicker/bootstrap-colorpicker.min.js"></script> 
<script src="/www/assets/js/select2/select2.min.js"></script> 
<script src="/www/assets/js/jquery-ui/jquery-ui.min.js"></script> 
<script src="/www/assets/js/selectboxit/jquery.selectBoxIt.min.js"></script> 
<script src="/www/assets/js/tagsinput/bootstrap-tagsinput.min.js"></script> 
<script src="/www/assets/js/typeahead.bundle.js"></script> 
<script src="/www/assets/js/handlebars.min.js"></script> 
<script src="/www/assets/js/multiselect/js/jquery.multi-select.js"></script> 

<!-- JavaScripts initializations and stuff --> 
<script src="/www/assets/js/xenon-custom.js"></script>
</body>
</html>